/* @font-face {
	font-family: 'Noto';
	src: url(assets\font\NotoSansKR-DemiLight.woff2) format('woff2');
	font-weight: 300;
}
@font-face {
	font-family: 'NotoSans';
	src: url(assets\font\NotoSansKR-Medium.woff2) format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'NotoSans2';
	src: url(assets\font\NotoSansKR-Regular.woff2) format('woff2');
	font-weight: 500;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');